### Enable Rewrite Engine
RewriteEngine On

### Force HTTP to HTTPS
RewriteCond %{HTTPS}  !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

### Hide db and private directory
RewriteCond %{REQUEST_URI} ^/db [OR]
RewriteCond %{REQUEST_URI} ^/private
RewriteRule ^(.*)$ web/views/404.php [L]

### Redirect request to PHP directory
RewriteRule ^(.*)$ /web/$1
